;; shadow-cljs configuration
{:source-paths ["src"]
 :nrepl {:port 7777}
 :dependencies
 [[reagent                   "1.1.0"]
  [re-frame              "1.3.0-rc3"]
  [fipp                     "0.6.26"]
  [fork                      "2.4.3"]
  [garden                   "1.3.10"]
  [binaryage/oops            "0.7.2"]
  [net.dhleong/spade         "1.1.1"]
  [cljs-ajax                 "0.8.4"]
  [clj-commons/secretary     "1.2.4"]
  [day8/shadow-git-inject    "0.0.5"]]
 :build-defaults {:build-hooks [(shadow-git-inject.core/hook)]}
 :builds {:app
          {:target :browser
           :output-dir "public/js"
           :asset-path "/js"
           :closure-defines
           {supervisor.environ/API_URI "http://localhost:8001"}
           :compiler-options
             {:source-map true
              :source-map-include-sources-content true
              :source-map-detail-level :all}
           :modules {:supervisor {:init-fn supervisor.main/init}}
           :devtools {:repl-pprint false
                      :http-root "public"
                      :http-port 9999
                      :http-use-index-files true}}}}
