@font-face {
  font-family: "Roboto Mono";
  src: url("/RobotoMono.ttf");
}

@font-face {
  font-family: "Airstrike";
  src: url("/airstrike.ttf");
}

html {
  font-size: 100%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-style: normal;
  font-family: "Roboto Mono";
  box-sizing: border-box;
  background: none;
  color: inherit;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: green dotted 2px;
}

input {
  width: 100%;
  border: 2px solid black;
  padding: 0.5em;
}

input:focus {
  outline: none;
}

/* try to only uses these hacky classes
 * for prototyping and then write cljscss */
.float { float: left; }
.clearfix {
  content: "";
  clear: both;
  display: table;
}

.bold { font-weight: bold; }

.text-center { text-align: center; }
.box-x-center { margin: 0 auto; }

.box-center {
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.auto-wide { width: auto; }
.auto-tall { height: auto; }

.full-wide { width: 100%; }
.full-tall { height: 100%; }

.fill {width: 100%; height: 100%;}

.pad-sm { padding: 5px; }
.pad-xl { padding: 10px; }

.gap-up {margin-top: 10px;}
.gap-down {margin-bottom: 10px;}

.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.static {position: static;}

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

/* these colors are only for debugin! */
.red {background: #FFC0CB;}
.yellow {background: #FFFACD;}
.blue {background: #ADD8E6;}
.green {background: #20B2AA;}
.orange {background: #F4A460;}
.white {background: #FFF5EE;}
.black {background: #024020;}

/* wat a wild idea, does this count as a 1stop shop for mobile friendlynes? */
@media screen and (max-width: 300px) {
  body * {
    position: static !important;
    margin: 0 !important;
    display: block !important;
    width: 100% !important;
    height: auto !important;
    min-height: 25px;
    margin-bottom: 2px !important;
    transform: none !important;
  }

  .blue-dot .the-dot {
    width: 100% !important;
    height: 25px !important;
    border-radius: 5% !important;
  }
  .blue-dot .the-dot::before {
    text-align: center;
    content: "the blue dot";
    padding-left: 10px;
    color: blue;
  }
  .blue-dot .the-content * {
    width: auto !important;
    height: auto !important;
    max-height: 500px !important;
  }
  .blue-dot .the-content span {
    display: inline !important;
  }
}



